<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/apple-touch-icon.png?v=lkvKdq779x"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/favicon-32x32.png?v=lkvKdq779x"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/favicon-16x16.png?v=lkvKdq779x"
/>
<link rel="manifest" href="/site.webmanifest?v=lkvKdq779x" />
<link
  rel="mask-icon"
  href="/safari-pinned-tab.svg?v=lkvKdq779x"
  color="#5bbad5"
/>
<link rel="shortcut icon" href="/favicon.ico?v=lkvKdq779x" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<!-- sa: mailchimp -->
<script id="mcjs">
  !(function (c, h, i, m, p) {
    (m = c.createElement(h)),
      (p = c.getElementsByTagName(h)[0]),
      (m.async = 1),
      (m.src = i),
      p.parentNode.insertBefore(m, p);
  })(
    document,
    "script",
    "https://chimpstatic.com/mcjs-connected/js/users/29f95d7276de0134aacdd6294/a612228c9ecefd1934ce6cbb9.js"
  );
</script>

<!-- end custom head snippets -->
